html {
    height: 100%;
}

body {
    background-color: #302D54;
    background-image: linear-gradient(#302D54, #2F3C3D);
    margin: 0;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.debug-window {
    background-color: #A3A1C6;
    padding: 100px;
    position: absolute;
    top: 0;
    left: 0;

}